*{
  box-sizing: border-box;
}

nav{
    text-align: center;
  }
.vedio{
  background-color: rgb(7, 104, 7);
}
ul{
  padding-bottom: 2%;
  text-decoration: none;
  margin-left: 150px;
}

li{
  display: inline;
}