html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto 0px;
}
section{
    width: 100%;
    height: 300vh;
    background: url(bg.jpg) no-repeat;
    background-size: cover;

}

.gotopbtn {
    --offset: 50px; 
    
    position: sticky;
    bottom: 20px;      
    margin-right:10px; 
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    
    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: white;
    background: #29bd67;
    border-radius: 100px;
    white-space: nowrap;
  }