
.allTabs {
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
    background-color: black;
    color: white;
}

.allTabs li {
    /* need to make sure that @media change inline to block for web mobile*/
    /* need to make tab active to change contents */
    display: inline;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    cursor: default;
}

.allTabs li:hover {
    background-color: green;
}

img.hover_content {
    width: 300px;
    height: auto;
    margin: auto;
    display: inline;
    float: left;
    padding-right: 10px;
    padding-left: 30px;
}

.flex-container {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
}

.nested-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.item_p {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    padding-left: 30px;
}

.item {
    flex-basis: 33%;
    display: inline;
    flex-direction: row;
}


p.hover_content {
    padding-left: 30px;
    color: black;
}

a.hover_content:link {
    font-size: 24px;
    font-weight: bolder;
    color: green;
    text-decoration: none;
}

a.hover_content:visited {
    font-size: 24px;
    font-weight: bolder;
    color: darkgreen;
    text-decoration: none;
}

a.hover_content:hover {
    font-size: 24px;
    font-weight: bolder;
    color: darkgreen;
    text-decoration: none;
}

a.hover_content:active {
    font-size: 24px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.all_news_link {
    display: block;
    margin: auto;
    text-decoration: underline;
    margin-bottom: 10px;
    color: green;
    font-size: 24px;
    font-weight: bolder;
}


/*---------Font used-----------*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=IBM+Plex+Sans+Thai&family=Pacifico&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=IBM+Plex+Sans+Thai:wght@100;200;400;500;600&family=Pacifico&family=Prompt:wght@300&family=Raleway&display=swap');
:root{ 
    --hue-1:113;
    --hue-2:291;
    --main-color-1:hsl(var(--hue-1), 41%, 38%);
    --main-color-1-dark:hsl(var(--hue-1), 41%, 20%);
    --bg-color:hsl(var(--hue-2), 3%, 93%);
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
body{
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    color: hsl(113, 41%, 38%);
    background-color: hsl(291, 20%, 93%);
}
::selection{
    background-color: hsl(116, 42%, 30%);
    color:#fff;
  }

/*-----------------administrator section style------------------*/

.administrator {
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'Prompt', sans-serif;
}

.administrator .container {
    display: block;
    padding: 90px;
    margin: 0 10vw 0;
}

header h4 {
    position: relative;
    font-size: 1rem;
    color: black;
    padding: 10px 0;
    margin-bottom: 3px;
    text-align: center;
    left: -17%;
}

header h2 {
    position: relative;
    font-size: 2rem;
    color: var(--main-color-1);
    text-align: center;
    left: -17%;
    margin-bottom: 40px;

}

.row-fluid {
    display: grid;
    position: relative;
    margin: 0;
    grid-template-columns: repeat(2, 48% 5% 1fr);
    padding-top: 30px;
    padding: 1rem 0;
    gap: 3px;
}

.card-item {
    display: block;
    position: relative;
    border-radius: 4%;
    padding: 12px 10px;
    width: 37vh;
    justify-self: center;
    align-items: center;
    text-align: center;
}

.Intro-img {
    position: relative;
    border-radius: 4%;
}

.item_content {
    position: relative;
}

.item_title {
    position: relative;
    color: var(--main-color-1);
    font-size: 1.2rem;
    padding: 1rem 0 0;
}

.item_introtext {
    position: relative;
    color: rgb(113, 113, 113);
    font-size: 0.7rem;
    padding: 10px;
    padding-bottom: 10px;
}

.cta-link {
    position: relative;
    text-decoration: underline;
    color: var(--main-color-1);
    font-size: 0.9rem;
    font-family: 'Prompt', sans-serif;
    padding-top: 5rem;
}

.cta-link::after {
    content: "";
    color: var(--main-color-1-dark);
}

.cta-link:hover,
.cta-link.active {
    color: var(--main-color-1-dark);
    font-weight: 600;
}

.cta-link:hover::after,
.cta-link.active::after {
    opacity: 0.2;
}

/* --------------Right sidebar--------------- */
.aside-right {
    width: 20%;
    height: 5%;
    top: 13%;
    left: 60%;
    position: absolute;

}

aside {
    width: 40%;
    float: right;
}

.vcounter_TypeText {
    position: relative;
    text-align: right;
    padding-bottom: 10%;
    font-size: 0.8rem;
}

.mvc_peopleTable {
    position: relative;
    font-family: 'Prompt', sans-serif;
}

.mvc_peopleImg {
    position: relative;
}

.mvc-day {
    position: relative;
    padding-right: 50px;
    font-size: 0.8rem;
}

.mvc-num {
    text-align: center;
}

/* --------------- 1000px Screens --------------- */

@media (max-width: 1000px) {
    .administrator .container {
        display: block;
        padding: 60px;
        margin: 0 10vw 0;
    }

    header h4 {
        left: -20%;
    }

    header h2 {
        left: -20%;
    }

    .row-fluid {
        display: grid;
        position: relative;
        grid-template-columns: repeat(2, 40% 30% 1fr);
        padding-top: 30px;
        padding: 1rem 0;
        gap: 3px;
    }

    .aside-right {
        width: 20%;
        height: 5%;
        top: 11%;
        left: 60%;
        position: absolute;

    }

    .vcounter_TypeText {
        position: relative;
        text-align: center;
        left: 80%;
    }

}

/* --------------- 768px Screens --------------- */

@media (max-width: 768px) {
    .administrator .container {
        display: block;
        padding: 40px;
        margin: 0 10vw 0;
    }

    header h4 {
        left: 0%;
    }

    header h2 {
        left: 0%;
    }

    .row-fluid {
        display: grid;
        position: relative;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 30px;
        padding: 1rem 0;
        margin: 0;
        gap: 3px;
    }

    .aside-right {
        position: relative;
        top: 0%;
        left: 18%;
        padding-bottom: 110px;
    }

    .vcounter_TypeText {
        width: 5rem;
        text-align: right;
    }


}

/* --------------- 500px Screens --------------- */

@media (max-width: 500px) {
    header h4 {
        left: -5%;
    }

    header h2 {
        left: -5%;
    }

    .aside-right {
        position: relative;
        top: 0%;
        left: 0%;
        padding-bottom: 110px;
    }

    .vcounter_TypeText {
        width: 6rem;
        text-align: right;
    }


}


#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 650%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    float: left;
    width: 16%;
}

@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -108%;
    }

    35% {
        left: -108%;
    }

    45% {
        left: -216%;
    }

    50% {
        left: -216%;
    }

    65% {
        left: -324%;
    }

    75% {
        left: -324%;
    }

    80% {
        left: -425%;
    }

    95% {
        left: -425%
    }

    100% {
        left: -532%;
    }

}

/*navbar section style start*/

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #417d14;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  nav ul li {
    position: relative;
  }
  
  nav ul li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
  }
  nav ul li a:hover{
    background: rgb(43, 43, 43);
    color: #417d14;
    display: block;

  }

  
  nav ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(43, 43, 43);
    width: 200px;
    display: none;
    text-decoration: none;
  }
  
  nav ul li:hover ul {
    display: none;
}

.submenu {
    position: absolute;
    background-color: rgb(43, 43, 43);
    left: 0;
    width: 140px;
    display: none;
}

.submenu2 {
    position: absolute;
    left: 100%;
    width: 170px;
    top: 0;
    background-color: rgb(43, 43, 43);
    display: none;
}

.menu li:hover>.submenu {
    display: block;
}

.submenu li:hover>.submenu2 {
    display: block;
}

/*navbar section style end*/


header {
    background-color: rgb(250, 246, 246);
    position: relative;
    width: auto;
    height: 230px;
}

.ftulogo {
    width: 260px;
    position: absolute;
    left: 29px;
    top: 15px;
}

.container {
    position: absolute;
    right: 100px;
    top: 26px;
    width: auto;
    height: 75px;
}

.container img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.container2 {
    position: absolute;
    right: 1px;
    bottom: 5px;
    width: auto;
    height: 40px;
}

.container2 img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

/* --------------- Footer style --------------- */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.footer_green {
    background-color: rgb(58, 136, 38);
    height: 300px;
    padding-top: 70px;
    padding-right: 60px;
    position: relative;
}

h1 {
    border: 1px solid #ffffff;
    margin-left: 100px;
    font-size: 40px;
    width: 400px;
    text-align: center;
    color: #ffffff;
    font-family: sans-serif;
    padding-left: 12px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 12px;
}

.detail {
    font-size: 12px;
    color: #ffffff;
    font-family: sans-serif;
    margin-top: 15px;
    position: absolute;
    text-align: center;
    left: 260px;
}

.info {
    position: absolute;
    width: 350px;
    left: 820px;
    top: 35px;
    text-align: center;
}


h2 {
    font-size: 40px;
    color: #ffffff;
    font-family: sans-serif;
}

.info p {
    font-size: 20px;
    color: #ffffff;
    font-family: sans-serif;
    margin-top: 10px;
}

.info a {
    font-size: 15px;
    color: #ffffff;
    font-family: sans-serif;
    text-decoration: underline;

}

.footer_black {
    background-color: rgb(0, 0, 0);
    height: 50px;
    position: relative;
}

.footer_black p {
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    padding-top: 15px;
}

.footer_black span {
    color: rgb(58, 136, 38);
}

.Img {
    width: 30px;
    height: 30px;
    padding-left: 870px;
    position: absolute;
    bottom: 11px;
}


@media (max-width: 700px) {
    * {
        flex-direction: column;
    }

    .footer_green {
        height: 600px;
        position: relative;
    }

    .info {
        display: flex;
        position: absolute;
        width: 300px;
        left: 160px;
        top: 300px;

    }

    .Img {
        padding-left: 410px;
    }
}
.video-section{
    background-color: rgb(7, 104, 7);
  }
  .ul-video{
    padding-bottom: 2%;
    padding-top: 2%;
    text-decoration: none;
    margin-left: 200px;
    margin: 150px;
  }
  
  .li-video{
    display: inline;
  }
 



